@model CollectiveKnowledgePlatform.Models.Category
@{
    ViewBag.Title = "Adauga o noua categorie!";
}

<h2 class="text-center mt-5">Adaugare Categorie</h2>


<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Categories", method: FormMethod.Post))
            {

                @Html.Label("Name", "Denumire categorie")
                <br />
                @Html.TextBox("Name", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })

                <br />
                <br />
                @Html.Label("Description", "Descrierea categoriei")
                <br />
                @Html.TextArea("Description", null, new { @class = "form-control" })

                <br />
                <br />

                <button class="btn btn-success" type="submit">Adauga categorie</button>
            }

        </div>
    </div>
</div>
