@model CollectiveKnowledgePlatform.Models.Topic


<h2 class="text-center mt-5">Adaugare topic @ViewBag.CatId</h2>
<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Topics", method: FormMethod.Post))
            {

                @Html.Label("Title", "Titlu topic")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })

                <br />
                <br />
                @Html.Label("Text", "Continut topic")
                <br />
                @Html.TextBox("Text", null, new { @class = "form-control" })

                <br />
                <br />

                <button class="btn btn-success" type="submit">Adauga topic</button>
            }



        </div>
    </div>
</div>

