@model CollectiveKnowledgePlatform.Models.Topic
@{
    ViewBag.Title = "Afisare topic";
}
@*<h2>@ViewBag.Title</h2> nu este nevoie*@

<br />

<p class="show_numeCategorie align-items-center justify-content-center d-flex">@Model.Title</p>
<p class="show_topic_text align-items-center justify-content-center d-flex">@Model.Text</p>

@*AFISARE COMENTARII*@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Continut</p>
                    <small>@comm.Date</small>
                    <strong><i class="bi bi-person"></i>@comm.User.UserName</strong>

                </div>
                <br>

                @if (comm.UserId == ViewBag.UserCurent || ViewBag.AfisareButoane)
                {

                    <div class="d-flex">

                        @if (comm.UserId == ViewBag.UserCurent)
                        {
                            <div>
                                <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>
                            </div>
                        }

                        <div>
                            @if ((comm.UserId == ViewBag.UserCurent) || ViewBag.AfisareButoane)
                            {
                                <form method="post" action="/Comments/Delete/@comm.Id">

                                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                                </form>
                            }
                        </div>

                    </div>
                }

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}

@*FORMULAR DE COMENTARII*@
<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Topics/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="TopicId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Continut"></textarea>

                        @Html.ValidationMessage("Continut", null, new { @class = "text-danger"})

                        <br /><br />

                        <button class="btn btn-outline-success " type="submit">Adauga comentariul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>

<br />
<br />


<div class="orice align-items-center justify-content-center d-flex">
    <form method="post" action="/Topics/Delete/@Model.Id">

        @if (ViewBag.AfisareButoane)
        {
            <button class="btn btn-danger" type="submit">Sterge topic</button>
        }

    </form>
    <br />
    <a class="btn btn-secondary" href="/Topics/Index/@Model.CategoryId">Afisare lista topice</a>

</div>


<br />
<br />

<div class="butoane">
    @using (Html.BeginForm(method: FormMethod.Post, controllerName: "Topics", actionName: "Like", routeValues: new { id = @Model.Id, L = ViewBag.Like }))
    {
        <button class="btn btn-secondary" type="submit">@ViewBag.Like</button>

    }
    @ViewBag.Likes
    @using (Html.BeginForm(method: FormMethod.Post, controllerName: "Topics", actionName: "Dislike", routeValues: new { id = @Model.Id, L = ViewBag.Dislike }))
    {
        <button class="btn btn-secondary" type="submit">@ViewBag.Dislike</button>

    }
</div>

<br />
<hr />
<br />

