@model CollectiveKnowledgePlatform.Models.Topic
@{
    ViewBag.Title = "Afisare topic";
}
<h2>@ViewBag.Title</h2>

<br />

<p>@Model.Title</p>
<p>@Model.Text</p>

@*AFISARE COMENTARII*@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Continut</p>
                    <small>@comm.Date</small>
                    <strong><i class="bi bi-person"></i>@comm.User.UserName</strong>

                </div>
                <br>

                @if (comm.UserId == ViewBag.UserCurent || ViewBag.AfisareButoane)
                {

                    <div class="d-flex">

                        <div>

                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                        </div>

                        <div>

                            <form method="post" action="/Comments/Delete/@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                            </form>

                        </div>

                    </div>
                }

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}

@*FORMULAR DE COMENTARII*@
<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Topics/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="TopicId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Continut"></textarea>

                        @Html.ValidationMessage("Continut", null, new { @class = "text-danger"})

                        <br /><br />

                        <button class="btn btn-success " type="submit">Adauga comentariul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>



<form method="post" action="/Topics/Delete/@Model.Id">

    @if (ViewBag.AfisareButoane)
    {
        <button class="btn btn-danger" type="submit">Sterge topic</button>
    }

</form>
<br />
<a class="btn alert-success" href="/Topics/Index/">Afisare lista topice</a>

<br />
<hr />
<br />

